<style>
    .contractProfile {
        width: 100%;
        background-color: #fafafa;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contractImg {
        border-radius: 50%;
        display:block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
    }

    .profileHeadText{
        margin: 10px;
        font-size: 4vw;
        display: block;
        text-align: center;
    }

    .contractStatTitle {
        margin: 5px;
        font-size: 4vw;
        display: block;
        text-align: center;
        color: #4d4d4d;
    }

    .contractStatField {
        margin: 5px;
        font-size: 4.5vw;
        display: block;
        text-align: center;
        font-weight: 500;
        color: #42A5F5;
    }

    .contractLongDesc {
        margin: 8px;
        font-size: 4vw;
        display: block;
        text-align: center;
        color: #000;
    }



    .stockSpan{
        font-style: italic;
        font-size: 4vw;
        display:block;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }

    .col{
        background-color: #fafafa;
    }
    
    .card {
        margin: 5px;
    }

    .stat {
        margin: 5px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .stockInfo{
        background-color: #fafafa;
    }
    
    .details{
        background-color: #E0E0E0;
    }

    .stockColl{
        margin: 2%;
    }

    .ordersHeading{
        background-color: #007aff;

    }

    .stockHeading{
        background-color: #888888;
    }

    #filterButton {
        color: #fafafa;
        display: block;
        margin: auto;
    }

    .loadingSpinner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fafafa;
    }

    .loadingSpinner svg {
        width: 80px;
        height: 80px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40%;
    }

</style>

<ion-view>

    <ion-content>
        <ion-spinner class="loadingSpinner" icon="android" ng-hide="pageLoaded"></ion-spinner>

        <div class="contractProfile">
            <img class="contractImg"src="img/contractIcons/{{contract.imageName}}.jpg">
            <div>
                <h4 class="profileHeadText">{{contract.name}}</h4>
            </div>
            <div>
                <span class="profileHeadText">{{contract.shortDesc}}</span>
            </div>
        </div>

        <div class="details" style="padding-top: 10px;">
            <h5 style="width: 100%; text-align: center;">CONTRACT INFO</h5>


            <div class="row">
                <div class="col stat">
                    <span class="contractStatTitle">Last Trade Price</span>
                    <span class="contractStatField">${{contract.last}}</span>
                </div>
                <div class="col stat">
                    <span class="contractStatTitle">Last Trade Time</span>
                    <span class="contractStatField">Unknown</span>
                </div>
            </div>

            <div class="row">
                <div class="col stat">
                    <span class="contractStatTitle">Todays Volume</span>
                    <span class="contractStatField">Unknown</span>
                </div>
                <div class="col stat">
                    <span class="contractStatTitle">Average Daily Volume</span>
                    <span class="contractStatField">Unknown</span>
                </div>
            </div>

            <div class="row">
                <div class="col stat">
                    <span class="contractStatTitle">Todays Change</span>
                    <span class="contractStatField">${{contract.change}}</span>
                </div>
                <div class="col stat">
                    <span class="contractStatTitle">Status</span>
                    <span class="contractStatField">{{contract.status}}</span>
                </div>
            </div>

            <div class="row">
                <div class="col stat">
                    <span class="contractStatTitle">Start Date</span>
                    <span class="contractStatField">{{contract.startDate}}</span>
                </div>
                <div class="col stat">
                    <span class="contractStatTitle">End Date</span>
                    <span class="contractStatField">{{contract.startDate}}</span>
                </div>
            </div>

            <h5 style="width: 100%; text-align: center;">LONG DESCRIPTION</h5>

            <div class="row">
                <div class="col stat">
                    <span class="contractLongDesc">{{contract.longDesc}}</span>
                </div>
            </div>

            <h5 style="width: 100%; text-align: center;">JUDGING CRITERIA</h5>

            <div class="row">
                <div class="col stat">
                    <span class="contractLongDesc">{{contract.judgeStatement}}</span>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>