<ion-view title="{{pageTitle}}">
  <ion-content>

    <div ng-controller="LoginCtrl">
      <div class="loginColumn" ng-Show="isLoggingIn()">

        <div class ="loginTitleDiv">
          <img class ="loginTitle" src="img/ipredictLogoStroke.png">
        </div>
        <div class="warningSection" ng-show="showWarning">
          <a editable-text="warningMessage">{{ warningMessage }}</a>
        </div>
        <div class="main_div">
          <div>
            <label class="item item-input item-floating-label" >
             
              <input type="text" placeholder="Trading Name" ng-model="details_username"/>
            </label>
          </div>
          <div >
            <label class="item item-input item-floating-label">
              
              <input type="password" placeholder="Password" ng-model="details_password"/>
            </label>
          </div>

          <div class="Remember_me_div">
            <ion-checkbox style="border:0px solid white" type="checkbox" ng-model="details_acceptTerms"/>

            <p class="Remember_me" > Remember me </p>
            </ion-checkbox>
           </div>

          <div>
              <button class="Login_btn" ng-click="login()">
                Login
              </button>
          </div>

           <div class="sign_up_div">
                  <button class="sign_up" ng-click="changeToRegister()">
                   Sign Up
                  </button>
              </div>
          
              <div class="forgot_pass_div">
                  <button class="forgot_pass" ng-click="changeToForgotPassword()">
                    Forgot password?
                  </button>
              </div>

             
            
        </div>
      </div>




        <div class="registerColumn" ng-Show="isRegistering()">

          <div class ="loginTitleDiv">
            <img class ="loginTitle" src="img/ipredictLogoStroke.png">
          </div>

          <div class="info_Header">Create An Account</div>

          <div class="warningSection" ng-show="showWarning">
            <pre>{{ warningMessage }}</pre>
          </div>



          <div class="main_div" ng-model="$pageTitle">


            <div>
              <label class="item item-input item-floating-label" >
                <input type="text" placeholder="Trading Name" ng-model="details_username"/>
              </label>
            </div>
            <div class="email">
              <label class="item item-input item-floating-label">
                <input type="text" placeholder="Email" ng-model="details_email"/>
              </label>
            </div>
            <div class="pass">
              <label class="item item-input item-floating-label">
                <input type="password" placeholder="Password" ng-model="details_password"/>
              </label>
            </div>
            <div class="passconfirm">
              <label class="item item-input item-floating-label">
                <input type="password" placeholder="Password Confirmation" ng-model="details_passwordconfirm"/>
              </label>
            </div>

             <div class="Remember_me_div">
              <ion-checkbox style="border:0px solid white" type="checkbox" ng-model="details_acceptTerms"/>
                <div style="font-size: 1vmax; color:#7e7e7e;border-width: 100%, border:opx"> I agree to the Terms & Conditions.</div>
              </ion-checkbox>
            </div>
            <div class="btn_place2">
                <button class="Register_btn" ng-click="register()">
                  Create Account
                </button>
            </div>
            
                <button class="have_account" ng-click="changeToLogin()">
                  I already have an account
                </button>
            
             <div class="register_importantNotice" style="color: #7e7e7e">
              <div style="font-weight: bold">Important Notice For Your Protection!</div>
              <p>1. The Website and the Markets are intended as a research and educational facility, not as an investment market or a gambling facility. The Market Provider has been authorised to act as a futures dealer and the contracts traded are treated as futures contracts under New Zealand law, in order to provide certainty as to the legal treatment of the contracts.</p>
              
              <p>2. The Financial Markets Authority role in authorising futures dealers is limited and does not imply approval or endorsement of the business, trading or solvency of the company concerned.</p>
              
              <p>3. The Financial Markets Authority has not approved any documentation of the Market Provider, or the terms and conditions on which it carries out its business.</p>
              
              <p>4. The email address you provide will only be used for the purposes of this website and will never be on-sold.</p>
              
              <p>5. Nothing on this Website constitutes an offer or invitation to trade with any person who is under 18 years of age and/or outside New Zealand. In trading on iPredict, traders warrant that they are complying with all laws in the jurisdiction in which they are present.</p>
            </div>
          </div>
        </div>




        <div class="forgotPasswordColumn" ng-Show="isRetreivingPassword()">
          <div class ="loginTitleDiv">
            <img class ="loginTitle" src="img/ipredictLogoStroke.png">
          </div>
          <div class="info_Header">Reset Forgotten Password</div>
          <div class="info_Info">Enter the email address associated with your iPredict account, then click Send to get the reset password for your account.</div>
          <div class="email">
            <label class="item item-input item-floating-label">
                  <input type="text" placeholder="Email" ng-model="details_forgotmypassword_email"/>
            </label>
          </div>
          <div class="btn_place_account">
              <button class="iforgotMyPassword_SendButton" ng-click="retrievePassword()">
                Send
              </button>
          </div>
          <div class="btn_place_account">
                <button class="have_account" ng-click="changeToLogin()">
                  Go back to login
                </button>
          </div>

        </div>
    </div>



  </ion-content>
</ion-view>