<ion-view title="Login">
  <ion-content>

    <div ng-controller="LoginCtrl">
      <div class="loginColumn" ng-Show="isLoggingIn()">

        <div class ="loginTitleDiv">
          <img class ="loginTitle" src="img/ipredictLogoStroke.png">
        </div>
        <div style="font-weight:bold; color:#7e7e7e; margin-top:50px">Login to your iPredict account</div>
        <div class="warningSection" ng-show="showWarning">
          <a editable-text="warningMessage">{{ warningMessage }}</a>
        </div>
        <div class="temp">
          <div>
            <label class="item item-input item-floating-label" >
              <span class="input-label">Trading Name</span>
              <input type="text" placeholder="Trading Name" ng-model="details_username"/>
            </label>
          </div>
          <div >
            <label class="item item-input item-floating-label">
              <span class="input-label">Password</span>
              <input type="password" placeholder="Password" ng-model="details_password"/>
            </label>
          </div>

          <div class="checkbox">
            <ion-checkbox class="remove-border" type="checkbox" ng-model="details_acceptTerms"/>

            <p style="font-size: calc(vmax); color:#7e7e7e"> Remember me </p>
            </ion-checkbox>
           </div>

          <div class="btn_place">
              <button class="L_btn" ng-click="login()">
                Login
              </button>
          </div>
          <div class="links">
              <div class="link1">
                  <button class="I_forgot_my_password_button" ng-click="changeToForgotPassword()">
                    Forgot password?
                  </button>
              </div>

              <div class="link2">
                  <button class="I_dont_have_an_account_button" ng-click="changeToRegister()">
                    I don't have an account
                  </button>
              </div>
            </div>
        </div>
      </div>




        <div class="registerColumn" ng-Show="isRegistering()">

          <div class ="loginTitleDiv">
            <img class ="loginTitle" src="img/ipredictLogoStroke.png">
          </div>

          <div class="info_Header">Create An Account</div>

          <div class="warningSection" ng-show="showWarning">
            <pre>{{ warningMessage }}</pre>
          </div>



          <div class="temp">


            <div>
              <label class="item item-input item-floating-label" >
                <span class="input-label">Your Trading Name</span>
                <input type="text" placeholder="Trading Name" ng-model="details_username"/>
              </label>
            </div>
            <div class="email">
              <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email" ng-model="details_email"/>
              </label>
            </div>
            <div class="pass">
              <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="details_password"/>
              </label>
            </div>
            <div class="passconfirm">
              <label class="item item-input item-floating-label">
                <span class="input-label">Password Confirmation</span>
                <input type="password" placeholder="Password Confirmation" ng-model="details_passwordconfirm"/>
              </label>
            </div>

            <div class="checkbox">
              <ion-checkbox class="remove-border" type="checkbox" ng-model="details_acceptTerms"/>
                <p style="font-size: 0.75vmax;color:#7e7e7e"> I agree to the Terms and Conditions.</p>
              </ion-checkbox>
            </div>
            <div class="btn_place2">
                <button class="R_btn" ng-click="register()">
                  Create Account
                </button>
            </div>
            <div class="btn_place_account">
                <button class="Already_have_an_account_button" ng-click="changeToLogin()">
                  I already have an account
                </button>
            </div>
             <div class="register_importantNotice" style="color: #7e7e7e">
              <div style="font-weight: bold">Important Notice For Your Protection!</div>
              <p>1. The Website and the Markets are intended as a research and educational facility, not as an investment market or a gambling facility. The Market Provider has been authorised to act as a futures dealer and the contracts traded are treated as futures contracts under New Zealand law, in order to provide certainty as to the legal treatment of the contracts.</p>
              
              <p>2. The Financial Markets Authority role in authorising futures dealers is limited and does not imply approval or endorsement of the business, trading or solvency of the company concerned.</p>
              
              <p>3. The Financial Markets Authority has not approved any documentation of the Market Provider, or the terms and conditions on which it carries out its business.</p>
              
              <p>4. The email address you provide will only be used for the purposes of this website and will never be on-sold.</p>
              
              <p>5. Nothing on this Website constitutes an offer or invitation to trade with any person who is under 18 years of age and/or outside New Zealand. In trading on iPredict, traders warrant that they are complying with all laws in the jurisdiction in which they are present.</p>
            </div>
          </div>
        </div>




        <div class="forgotPasswordColumn" ng-Show="isRetreivingPassword()">
          <div class ="loginTitleDiv">
            <img class ="loginTitle" src="img/ipredictLogoStroke.png">
          </div>
          <div class="info_Header">Reset Forgotten Password</div>
          <div class="info_Info">Enter the email address associated with your iPredict account, then click Send to get the reset password for your account.</div>
          <div class="email">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                  <input type="text" placeholder="Email" ng-model="details_forgotmypassword_email"/>
            </label>
          </div>
          <div class="btn_place_account">
              <button class="iforgotMyPassword_SendButton" ng-click="retrievePassword()">
                Send
              </button>
          </div>
          <div class="btn_place_account">
                <button class="Already_have_an_account_button" ng-click="changeToLogin()">
                  Go back to login
                </button>
          </div>

        </div>
    </div>



  </ion-content>
</ion-view>