<style>

    .portfolio_tiles{
        margin: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .custom_col{
        position: relative;
    }
    
    .customSpan{
        font-style: italic;
        font-size: 4vw;
        height:4%;
    }

    .well{
        background-color: #cccccc;
        stroke-opacity: 50;
    }
    
    .tile-value{
        padding: 5%;
    }

    #tile-title{
        padding: 5%;
        background-color: #007aff;
    }

    #rank-num, #worth-num, #port-num{
        background-color: #33cd5f;
    }

    #line{
        margin: 2%;
        padding-right: 5%;
    }

    .inner{
        float: left;
    }
    .outer{

    }

</style>

<ion-view title="Portfolio">
    <ion-content>
        <div class="container">
            <div class="row" id="profile_overview">
                <div class="col custom_col">
                    <div class="card portfolio_tiles">
                        <div class="item item-divider" id="tile-title">
                            <span class="customSpan ">Rank</span>
                        </div>
                        <div class="item item-text-wrap tile-value">
                           <span class="customSpan ">{{portfolio.myRank}}</span>
                        </div>
                        <div class="item item-divider tile-value" id="rank-num">
                            <span class="customSpan"><i class="ion-arrow-up-a"></i>{{portfolio.changeInRank}}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card portfolio_tiles ">
                        <div class="item item-divider" id="tile-title">
                            <span class="customSpan ">Worth</span>
                        </div>
                        <div class="item item-text-wrap tile-value">
                            <span class="customSpan">${{portfolio.myWorth}}</span>
                        </div>
                        <div class="item item-divider tile-value" id="worth-num">
                            <span class="customSpan"><iclass="ion-arrow-up-a"></i>${{portfolio.changeInWorth}}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card portfolio_tiles ">
                        <div class="item item-divider" id="tile-title">
                            <span class="customSpan">Cash</span>
                        </div>
                        <div class="item item-text-wrap tile-value">
                            <span class="customSpan">${{portfolio.myWallet}}</span>
                        </div>
                        <div class="item item-divider tile-value">
                            <span class="customSpan">{{portfolio.changeInWallet}}</span>
                        </div>
                    </div></div>
                <div class="col">
                    <div class="card portfolio_tiles ">
                        <div class="item item-divider" id="tile-title">
                            <span  class="customSpan">Portfolio</span>
                        </div>
                        <div class="item item-text-wrap tile-value">
                            <span  class="customSpan">${{portfolio.myPortfolio}}</span>
                        </div>
                        <div class="item item-divider tile-value" id="port-num">
                            <span class="customSpan">
                                <i class="ion-arrow-up-a"></i>${{portfolio.changeInPortfolio}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card stockCard">
                <div class="item item-divider">
                        <span class="customSpan">My Performance</span>
                        <i class="ion-chevron-up" style="float:right;" ng-click="togglePerformanceGraph()"></i>
                    <canvas id="line" class="chart chart-line" data="data" labels="labels" click="onClick" ng-show="toggle.graph">
                    </canvas>
                </div>
            </div>
            <div class="card stockCard" style="text-align: center">
                <div class="item item-divider ">
                    <span class="customSpan">Stock I Own</span>
                    <i class="ion-chevron-up" style="float:right;" ng-click="toggleOwnStock()"></i>
                </div>
                <div class="item item-text-wrap tile-value well" ng-show="toggle.ownStock">
                    <div ng-repeat="stock in myStocks">
                        <div class="card portfolio_tiles" style="max-height:5%; margin:2%">
                            <div class="outer">
                                <div class="inner" style="text-align:left ;width: 50%;">{{stock.title}}</div>
                                <div class="inner" style="width: 10%">{{stock.amount}}</div>
                                <div class="inner" style="width: 20%">{{stock.value}}</div>
                                <div class="inner" style="width: 20%">{{stock.profit}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card stockCard" style="text-align: center">
                <div class="item item-divider">
                    <span class="customSpan">Stock I Shorted</span>
                    <i class="ion-chevron-up" style="float:right;" ng-click="toggleShortStock()"></i>
                </div>
                <div class="item item-text-wrap well" ng-show="toggle.shortStock">
                    <div ng-repeat="short in myShorts">
                        <div class="card portfolio_tiles" style="max-height:5%; margin:2%">
                            <div class="outer">
                                <div class="inner" style="text-align:left; width: 50%;">{{short.title}}</div>
                                <div class="inner" style="width: 10%;">{{short.amount}}</div>
                                <div class="inner" style="width: 20%;">{{short.value}}</div>
                                <div class="inner" style="width: 20%;">{{short.profit}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

