<style>

    .portfolio_tiles{
        margin: 1.5%;
        float: left;
        width: 22%;
        height: 100%;
        text-align: center;
    }

    .style_text {
        text-align: center;
        font-style: italic;
        font-size: 4vw;
    }

    .tile-value{
        padding: 5%;
    }

    #tile-title{
        padding: 5%;
        background-color: #007aff;
    }

    #rank-num{
        background-color: #33cd5f;
    }

    #line{
        margin: 2%;
        padding-right: 5%;
    }

    .inner{
        float: left;
        text-align: center;
        font-size: 4vw;
    }

    .lower_attr{
        margin-right: 5%;
        width: 45%;
        float: right;
        font-size: 3.5vw;
    }

    .lower_attr_title{
        margin-left: 5%;
        width: 45%;
        float: left;
        font-size: 3.5vw;
    }

    .ion-chevron-up{
        margin-top: 1%;
        margin-right: 4%;
    }

    .subtitle{
        height: 15px;
    }

    .stock_tile{
        width: 100%;
        margin:2%;
        min-height: 40px;
    }
</style>

<ion-view title="Portfolio">
    <ion-content>
        <div class="container"style="width: 100%">
            <div class="portfolio_info" style="width:100%;height: 100px">
                <div ng-repeat=" ele in portfolio">
                    <div class="card portfolio_tiles">
                        <div class="item item-divider" id="tile-title">
                            <span class="style_text ">{{ele.title}}</span>
                        </div>
                        <div class="item item-text-wrap tile-value">
                            <span class="style_text ">{{ele.attr}}</span>
                        </div>
                        <div class="item item-divider tile-value" id="rank-num">
                            <span class="style_text"><i class="ion-arrow-up-a"></i>{{ele.changeInAttr}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card stockCard">
                <div class="graph_card" style="text-align: center">
                        <h2 class="style_text" ng-click="togglePerformanceGraph()" style="margin: 2% min-height: 40px;">
                            My Performance
                            <i class="ion-chevron-up" style="float:right">
                            </i>
                        </h2>
                    <canvas id="line" class="chart chart-line" data="data" labels="labels" click="onClick" ng-show="toggle.graph">
                    </canvas>
                </div>
            </div>

            <div class="card stockCard" style="text-align: center">
                    <h2 class="style_text" ng-click="toggleOwnStock()" style="margin: 2% min-height: 40px;">
                        Stock I Own
                        <i class="ion-chevron-up" style="float:right; " >
                        </i>
                    </h2>
                <div class="subtitle" style="width: 100%;">
                    <div class="style_text"><span style="width: 50%; float: left; font-size: 3vw"> title </span></div>
                    <div class="style_text"><span style="width: 12%; float: left; font-size: 3vw"> amount </span></div>
                    <div class="style_text"><span style="width: 18%; float: left; font-size: 3vw"> value </span></div>
                    <div class="style_text"><span style="width: 20%; float: left; font-size: 3vw"> profit </span></div>
                </div>
                <div class="well" ng-show="toggle.ownStock">
                    <div ng-repeat="stock in myStocks">
                        <div class="card stock_tile">
                            <div class="outer" style="margin: 2.5%" ng-click="toggle_stock_attr(stock)">
                                <div class="inner" style="text-align:left ;width: 50%;">{{stock.title}}</div>
                                <div class="inner" style="width: 10%">{{stock.amount}}</div>
                                <div class="inner" style="width: 20%">{{stock.value}}</div>
                                <div class="inner" style="width: 20%">{{stock.profit}}</div>
                            </div>
                            <div class="lower_attr_container" ng-show="stock.toggle">
                                <span class="lower_attr_title" style="text-align: left"> Average Price </span><div class="lower_attr" style="text-align: right">{{stock.averageCost}}</div>
                                <span class="lower_attr_title" style="text-align: left"> Last Price </span><div class="lower_attr" style="text-align: right">{{stock.lastPrice}}</div>
                                <span class="lower_attr_title" style="text-align: left"> Difference </span><div class="lower_attr" style="text-align: right">{{stock.difference}}</div>
                                <button class="button button-clear" style="width: 100%; max-height: 10%; background-color: #0c63ee" ng-click="trade_click(stock.title)"><span style="color:#fafafa"> TRADE </span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card stockCard" style="text-align: center">
                    <h2 class="style_text" ng-click="toggleShortStock()" style="margin: 2% min-height: 40px">
                        Stock I Shorted
                        <i class="ion-chevron-up" style="float:right;">
                        </i>
                    </h2>
                <div class="subtitle" style="width: 100%;">
                    <div class="style_text"><span style="width: 50%; float: left; font-size: 3vw"> title </span></div>
                    <div class="style_text"><span style="width: 12%; float: left; font-size: 3vw"> amount </span></div>
                    <div class="style_text"><span style="width: 18%; float: left; font-size: 3vw"> value </span></div>
                    <div class="style_text"><span style="width: 20%; float: left; font-size: 3vw"> profit </span></div>
                </div>
                <div class="well" ng-show="toggle.shortStock">
                    <div ng-repeat="short in myShorts">
                        <div class="card stock_tile">
                            <div class="outer" style="margin: 2.5%;" ng-click="toggle_short_attr(short)">
                                <div class="inner" style="text-align:left; width: 50%;">{{short.title}}</div>
                                <div class="inner" style="width: 10%;">{{short.amount}}</div>
                                <div class="inner" style="width: 20%;">{{short.value}}</div>
                                <div class="inner" style="width: 20%;">{{short.profit}}</div>
                            </div>
                            <div class="lower_attr_container" ng-show="short.toggle">
                                <span class="lower_attr_title" style="text-align: left"> Average Price </span><div class="lower_attr" style="text-align: right">{{short.averageCost}}</div>
                                <span class="lower_attr_title" style="text-align: left"> Last Price </span><div class="lower_attr" style="text-align: right">{{short.lastPrice}}</div>
                                <span class="lower_attr_title" style="text-align: left"> Difference </span><div class="lower_attr" style="text-align: right">{{short.difference}}</div>
                                <button class="button button-clear" style="width: 100%; max-height: 10%; background-color: #0c63ee" ng-click="trade_click(short.title)"><span style="color:#fafafa"> SELL </span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>