<style>

    .statBox {
        width: 22%;
        height: 90px;
        margin: 10px 0 10px 2.4%;
        background-color: #fafafa;
        float: left;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .statUpper {
        width: 100%;
        height: 60px;
        text-align: center;
    }

    .statUpper span {
        display: block;
        width: 100%;
    }

    .statLower {
        width: 100%;
        height: 30px;
        text-align: center;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .statLower span {
        display: block;
        line-height: 30px;
        color: #fafafa;
    }

    .statTitle {
        line-height: 25px;
    }

    .statValue {
        line-height: 35px;
        color: #42A5F5;
    }

</style>

<style>

    .stockListHeader {
        float: left;
        height: 40px;
        line-height: 40px;
        color: #fafafa;
    }

    .stockListField {
        line-height: 40px;
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 40px;
    }

    .stockListItem {
        width: 95%;
        min-height: 40px;
        margin-left: 2.5%;
        margin-top: 10px;
        background-color: #fafafa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .stockListItemDropDown {
        width: 100%;
        height: 140px;
        background-color: #F0F0F0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }

    .stockSubListItem {
        width: 100%;
        height: 30px;
    }

    .stockSubListField {
        width: 50%;
        height: 100%;
        float: left;
    }

    .stockSubListField span {
        line-height: 30px;
    }

    .tradeStockButton {
        height: 50px;
        width: 100%;
        background-color: #42A5F5;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .tradeStockButton h5 {
        line-height: 50px;
        width: 100%;
        margin: 0 0 0 0;
        text-align: center;
        color: #fafafa;
    }

</style>

<ion-view title="Portfolio">
    <ion-content style="background-color: #E0E0E0;">
        <div style="width: 100%;">
            <div class="portfolio_info" style="width:100%; height: 110px; background-color: #e0e0e0;">

                <div class="statBox" ng-repeat="stat in portfolioStats" ng-click="goToRankPage($index)">
                    <div class="statUpper">
                        <span class="statTitle">{{stat.title}}</span>
                        <span class="statValue"><b>{{stat.attr}}</b></span>
                    </div>
                    <div class="statLower" ng-style="{backgroundColor: stat.bgColor}">
                        <span class="statChange">
                            <b>{{stat.changeInAttr}}</b>
                            <label class="ion-arrow-down-a" ng-show="stat.bgColor === '#D32F2F'"></label>
                            <label class="ion-arrow-up-a" ng-show="stat.bgColor === '#689F38'"></label>
                        </span>

                    </div>
                </div>

            </div>

            <!--<div style="width: 100%; margin-bottom: 20px; background-color: #fafafa;">-->
                <!--<div style="width: 100%; height: 50px; background-color: #42A5F5" ng-click="toggleGraph()">-->
                    <!--<span style="line-height: 50px; color: #fafafa; margin-left: 20px;"><b>MY PERFORMANCE</b></span>-->
                <!--</div>-->
                <!--<div style="width: 92.5%; margin-left: 2.5%;" ng-show="toggle.graph">-->
                    <!--<canvas style="margin-top: 20px; margin-bottom: 20px" class="chart chart-line" data="data" labels="labels" click="onClick">-->
                    <!--</canvas>-->
                <!--</div>-->
            <!--</div>-->

            <div style="width: 100%; margin-bottom: 20px;">
                <div style="width: 100%; height: 50px; background-color: #42A5F5; color: #fafafa;" ng-click="toggleOwnStock()">
                    <span style="line-height: 50px; margin-left: 20px; float: left;"><b>STOCK I OWN</b></span>
                    <span style="line-height: 50px; float: right; margin-right: 20px; font-size: 24px; margin-top: 0;"
                          ng-class="toggle.ownStock ? 'ion-chevron-down' : 'ion-chevron-up'"></span>
                </div>
                <div ng-show="toggle.ownStock">
                    <div style="width: 100%; height: 40px; background-color: #64B5F6">
                        <span class="stockListHeader" style="width: 50%; padding-left: 10px;"> <b>Title</b> </span>
                        <span class="stockListHeader" style="width: 15%;"> <b>Stock</b> </span>
                        <span class="stockListHeader" style="width: 15%;"> <b>Value</b> </span>
                        <span class="stockListHeader" style="width: 20%; text-align: right; padding-right: 10px;"> <b>Gain/Loss</b>  </span>
                    </div>

                    <div class="stockListItem" ng-repeat="stock in myStocks">
                        <div style="width: 100%; height: 40px;" ng-click="toggleStockAttr(stock);">
                            <div class="stockListField" style="width: 50%; padding-left: 10px;"><b>{{stock.title}}</b></div>
                            <div class="stockListField" style="width: 15%; text-align: center"><b>{{stock.amount}}</b></div>
                            <div class="stockListField" style="width: 15%;"><b>{{stock.value}}</b></div>
                            <div class="stockListField" ng-style="{color: stock.profitColor}"
                                 style="width: 20%; text-align: right; padding-right: 10px">
                                <b>{{stock.profit}}</b>
                                <label class="ion-arrow-down-a" ng-show="stock.profitColor === '#D32F2F'"></label>
                                <label class="ion-arrow-up-a" ng-show="stock.profitColor === '#689F38'"></label>
                            </div>
                        </div>

                        <div class="stockListItemDropDown" ng-show="stock.toggle">
                            <div class="stockSubListItem">
                                <div class="stockSubListField">
                                    <span style="margin-left: 10px;">Average Price</span>
                                </div>
                                <div class="stockSubListField" style="text-align: right;">
                                    <span style="margin-right: 10px;"><b>{{stock.averageCost}}</b></span>
                                </div>
                            </div>
                            <div class="stockSubListItem">
                                <div class="stockSubListField">
                                    <span style="margin-left: 10px;">Last Price</span>
                                </div>
                                <div class="stockSubListField" style="text-align: right;">
                                    <span style="margin-right: 10px;"><b>{{stock.lastPrice}}</b></span>
                                </div>
                            </div>
                            <div class="stockSubListItem">
                                <div class="stockSubListField">
                                    <span style="margin-left: 10px;">Difference</span>
                                </div>
                                <div class="stockSubListField" style="text-align: right;"  ng-style="{color: stock.differenceColor}">
                                    <span style="margin-right: 10px;">
                                        <b>{{stock.difference}}</b>
                                        <label class="ion-arrow-down-a" ng-show="stock.differenceColor === '#D32F2F'"></label>
                                        <label class="ion-arrow-up-a" ng-show="stock.differenceColor === '#689F38'"></label>
                                    </span>
                                </div>
                            </div>

                            <div class="tradeStockButton" ng-click="tradeClick(stock.id)">
                                <h5>VIEW CONTRACT PAGE</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div style="width: 100%; margin-bottom: 20px;">
                <div style="width: 100%; height: 50px; background-color: #42A5F5; color: #fafafa;" ng-click="toggleShortStock()">
                    <span style="line-height: 50px; color: #fafafa; margin-left: 20px;"><b>STOCK I SHORTED</b></span>
                    <span style="line-height: 50px; float: right; margin-right: 20px; font-size: 24px; margin-top: 0;"
                          ng-class="toggle.shortStock ? 'ion-chevron-down' : 'ion-chevron-up'"></span>
                </div>
                <div ng-show="toggle.shortStock">
                    <div style="width: 100%; height: 40px; background-color: #64B5F6">
                        <span class="stockListHeader" style="width: 50%; padding-left: 10px;"> <b>Title</b> </span>
                        <span class="stockListHeader" style="width: 15%;"> <b>Stock</b> </span>
                        <span class="stockListHeader" style="width: 15%;"> <b>Value</b> </span>
                        <span class="stockListHeader" style="width: 20%; text-align: right; padding-right: 10px;"> <b>Gain/Loss</b>  </span>
                    </div>

                    <div class="stockListItem" ng-repeat="stock in shortedStocks">
                        <div style="width: 100%; height: 40px;" ng-click="toggleStockAttr(stock)">
                            <div class="stockListField" style="width: 50%; padding-left: 10px;"><b>{{stock.title}}</b></div>
                            <div class="stockListField" style="width: 15%; text-align: center"><b>{{stock.amount}}</b></div>
                            <div class="stockListField" style="width: 15%;"><b>{{stock.value}}</b></div>
                            <div class="stockListField" style="width: 20%; text-align: right; padding-right: 10px" ng-style="{color: stock.profitColor}">
                                <b>{{stock.profit}}</b>
                                <label class="ion-arrow-down-a" ng-show="stock.profitColor === '#D32F2F'"></label>
                                <label class="ion-arrow-up-a" ng-show="stock.profitColor === '#689F38'"></label>
                            </div>
                        </div>

                        <div class="stockListItemDropDown" ng-show="stock.toggle">
                            <div class="stockSubListItem">
                                <div class="stockSubListField">
                                    <span style="margin-left: 10px;">Average Price</span>
                                </div>
                                <div class="stockSubListField" style="text-align: right;">
                                    <span style="margin-right: 10px;"><b>{{stock.averageCost}}</b></span>
                                </div>
                            </div>
                            <div class="stockSubListItem">
                                <div class="stockSubListField">
                                    <span style="margin-left: 10px;">Last Price</span>
                                </div>
                                <div class="stockSubListField" style="text-align: right;">
                                    <span style="margin-right: 10px;"><b>{{stock.lastPrice}}</b></span>
                                </div>
                            </div>
                            <div class="stockSubListItem">
                                <div class="stockSubListField">
                                    <span style="margin-left: 10px;">Difference</span>
                                </div>
                                <div class="stockSubListField" style="text-align: right;" ng-style="{color: stock.differenceColor}">
                                    <span style="margin-right: 10px;">
                                        <b>{{stock.difference}}</b>
                                        <label class="ion-arrow-down-a" ng-show="stock.differenceColor === '#D32F2F'"></label>
                                        <label class="ion-arrow-up-a" ng-show="stock.differenceColor === '#689F38'"></label>
                                    </span>
                                </div>
                            </div>

                            <div class="tradeStockButton" ng-click="tradeClick(stock.id)">
                                <h5>VIEW CONTRACT PAGE</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </ion-content>
</ion-view>