<style>

    .toggleContainer {
        width: 90%;
        margin-left: 5%;
        height: 40px;
        margin-top: 20px;
    }

    .toggleButton {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 40px;
        float: left;
        border-radius: 20px;
        text-align: center;
        border: 2px solid #1976D2;
        cursor: pointer;
    }

    .toggleButton h4 {
        margin-top: 8px;
        margin-bottom: 8px;
        color: #1976D2;
    }

    .selectedButton {
        background-color: #1976D2;
    }

    .selectedButton h4 {
        color: #fafafa;
    }

    #cancelButton {
        color: #fafafa;
        display: block;
        margin: auto;
    }


</style>


<ion-modal-view style="height: 100%;">

    <div style="height: 60px;">

        <div class="toggleContainer">
            <div class="toggleButton"
                 ng-class="predic.selectedToggle === 'browse' ? 'selectedButton' : ''"
                 ng-click="changeSelectedPredToggle('browse')">
                <h4>BROWSE</h4>
            </div>
            <div class="toggleButton"
                 ng-class="predic.selectedToggle === 'sortBy' ? 'selectedButton' : ''"
                 ng-click="changeSelectedPredToggle('sortBy')">
                <h4>SORT</h4>
            </div>
        </div>
    </div>

    <div style="height: 95%; position: relative;">
        <ion-content scroll="true" style="margin-bottom: 80px">

            <div class="list" ng-show="predic.selectedToggle === 'browse'">
                <div class="item item-button-right"
                     ng-repeat="category in categories"
                     ng-click="toggleFilterSelector($index)">
                    <h3 ng-show="!filterIsSelected($index)">{{category.name}}</h3>
                    <h3 ng-show="filterIsSelected($index)"><b>{{category.name}}</b></h3>
                    <button class="button button-clear">
                        <i class="icon ion-ios-checkmark-outline" ng-show="!filterIsSelected($index)"></i>
                        <i class="icon ion-ios-checkmark" ng-show="filterIsSelected($index)"></i>
                    </button>
                </div>
            </div>

            <div class="list" ng-show="predic.selectedToggle === 'sortBy'">
                <div class="item item-button-right"
                     ng-repeat="sortOption in sortByOptions"
                     ng-click="sortBy($index)">
                    <h3>{{sortOption.title}}</h3>
                    <button class="button button-clear">
                        <i class="icon ion-chevron-right"></i>
                    </button>
                </div>
            </div>

        </ion-content>
    </div>

    <div class="bar bar-footer" style="z-index: 10000; background-color: #1976D2">
        <button class="button button-clear" id="cancelButton" ng-click="refilterPredictions()">
            CLOSE
        </button>
    </div>




</ion-modal-view>