<style>

</style>

<ion-view title="Terms Of Service">
    <ion-content>
        <div class="container">


        	<div id="ImportantNotice">
	        	<div style="font-weight: bold" class="ion-ios-arrow-forward">
	        		Important Notice
	        	</div>

	        	i.
	        	<div style="margin-left: 10px">
	        		The Website and the Markets are intended as a research and educational facility, not as an investment market or a gambling facility, and the Market Provider has been authorised to act as a futures dealer, and the contracts traded are treated as futures contracts under New Zealand law, in order to provide certainty as to the legal treatment of the contracts.
	        	</div>
        	</div>



        </div>

    </ion-content>
</ion-view>
