<style>
    /*@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:300);*/

    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

    .customSpan{
        font-style: italic;
        font-size: 4vw;
        text-align-last: center;
    }

    .style_text {
        font-style: italic;
        font-size: 5vw;
    }

    .toggleContainer {
        width: 90%;
        margin-left: 5%;
        height: 40px;
        margin-top: 20px;
    }

    .toggleButton {
        width: 45%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        height: 40px;
        float: left;
        border-radius: 20px;
        text-align: center;
        border: 2px solid #42A5F5;
        cursor: pointer;
    }

    .toggleButton h4 {
        margin-top: 8px;
        margin-bottom: 8px;
        color: #42A5F5;
    }

    .selectedButton {
        background-color: #42A5F5;
    }

    .selectedButton h4 {
        color: #fafafa;
    }


    .container {
        margin: 0 auto;
        width: 100%;
        background: white;
        padding: 30px;
    }

    .counter-container .counter-plus, .counter-minus {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        background: #333;
        color: white;
        margin: 0;
        padding: 5px 10px;
        text-decoration: none;
    }

    .counter-container .counter-field {
        margin: 0;
        padding: 5px;
        text-align: center;
        width: 40px;
    }

    .tradeAmount {
        float: left;
        height: 40px;
        width: 40%;
        border: 2px solid #42A5F5;
        border-radius: 25px;
        text-align: center
    }

    .tradePlusButton {
        font-size: 26px;
        width: 26px;
        margin-left: calc(50% - 26px);
        margin-top: 7px;
    }

    .tradeMinusButton {
        font-size: 26px;
        width: 26px;
        margin-left: 50%;
        margin-top: 7px;
    }

</style>

<ion-view title="Trade">
    <ion-content>
        <div class="toggleContainer">
            <div class="toggleButton"
                 ng-class="tradeType === 'stock' ? 'selectedButton' : ''"
                 ng-click="showOne('stock')">
                <h4>BUY STOCK</h4>
            </div>
            <div class="toggleButton"
                 ng-class="tradeType === 'bundle' ? 'selectedButton' : ''"
                 ng-click="showTwo('bundle')">
                <h4>BUY BUNDLE</h4>
            </div>
        </div>

        <div ng-show="toggle.one">

            <div ng-show="toggle.step1">
                <div style="width: 100%; text-align: center; margin-top: 20px;">
                    <h5> STEP 1: DETERMINE OUTCOME</h5>
                </div>
                <div style="width: 80%; margin: 20px 10% 20px 10%; text-align: center">
                    <span style="color: #42A5F5;">{{contract.shortDesc}}</span>
                </div>
                <div style="width: 100%; text-align: center">
                    <span>Is this outcome more likely than {{contract.probability}}%?</span>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <button class="button button-clear button-positive" ng-click="enableStep2('stock')"
                                style="width: 45%; max-height: 10%; float: left; margin-right: 2.5%; margin-left: 2.5%" >
                            <b style="color: #42A5F5;">YES</b></button>
                        <button class="button button-clear button-positive" ng-click="enableStep2('short')"
                                style="width: 45%; max-height: 10%; float: left; margin-right: 2.5%; margin-left: 2.5%">
                            <b style="color: #42A5F5;">NO</b></button>
                    </div>
                </div>
            </div>


            <div ng-show="toggle.step2">

                <div style="width: 100%; text-align: center; margin-top: 20px;">
                    <h5> STEP 2: BUY OR SELL</h5>
                </div>

                <div style="width: 100%; height: 80px;">
                    <div style="width: 50%; height: 40px; float: left;">
                        <label class="checkbox" style="display: block; margin-left: auto; margin-right: auto;">
                            <input style="display: block; margin-left: auto; margin-right: auto;" ng-model="toggle.buy" ng-click="toggleBuy()" type="checkbox">
                        </label>
                        <h5 style="line-height: 40px; margin: 0; width: 100%; text-align: center;">
                            BUY
                        </h5>
                    </div>
                    <div style="width: 50%; height: 80px; float: left;">
                        <label class="checkbox" style="display: block; margin-left: auto; margin-right: auto;">
                            <input style="display: block; margin-left: auto; margin-right: auto;" ng-model="toggle.sell" ng-click="toggleSell()" type="checkbox">
                        </label>
                        <h5 style="line-height: 40px; margin: 0; width: 100%; text-align: center;">
                            SELL
                        </h5>
                    </div>
                </div>

                <div style="width: 80%; text-align: center; margin: 20px 10% 10px 10%;">
                    <h5> STEP 3: CHOOSE NUMBER OF STOCKS</h5>
                </div>

                <div style="width: 80%; text-align: center; margin: 0 10% 20px 10%">
                    <h6>{{contract.name}}</h6>
                </div>

                <div style="margin-bottom: 20px;">
                    <div style="height: 40px;">
                        <div ng-click="incrStockQuantity()"  style="float: left; height: 40px; width: 30%;">
                            <div class="tradePlusButton ion-plus" class=""></div>
                        </div>

                        <input class="tradeAmount" ng-model="stockQuantity" ng-readonly="true">

                        <div ng-click="decrStockQuantity()" style="float: left; height: 40px; width: 30%;">
                            <div class="tradeMinusButton ion-minus" class=""></div>
                        </div>
                    </div>
                </div>

                <div style="width: 80%; text-align: center; margin: 20px 10% 20px 10%;">
                    <h4> $ {{(contract.buy * stockQuantity).toFixed(2)}}</h4>
                </div>

                <button class="button button-clear" ng-click="enableStep3()"
                        style="width: 80%; margin-left: 10%; max-height: 10%; background-color: #42A5F5">
                    <span style="color:#fafafa"> CONFIRM & PROCEED </span>
                </button>
                <button class="button button-clear" ng-click="showOne()"
                        style="width: 40%; margin-left: 30%; max-height: 10%; margin-top: 20px;">
                    <b style="color: #42A5F5;"> BACK </b>
                </button>
            </div>

            <div ng-show="toggle.step3">

                <div style="width: 100%; text-align: center; margin-top: 20px;">
                    <h5>CONGRATULATIONS</h5>
                </div>

                <div style="width: 80%; margin: 20px 10% 20px 10%; text-align: center">
                    <span>Your sell order was matched with another trader's Buy order and the trade was completed.</span>
                </div>

                <button class="button button-clear" ng-click="closeStep()"
                        style="width: 80%; margin-left: 10%; max-height: 10%; background-color: #42A5F5">
                    <span style="color:#fafafa"> CLOSE </span>
                </button>
            </div>

        </div>

        <div  ng-show="toggle.two">

            <div ng-show=toggle.bunStep1>
                <div style="width: 80%; text-align: center; margin: 20px;">
                    <h5> STEP 1: CHOOSE NUMBER OF BUNDLES TO BUY</h5>
                </div>

                <div>
                    <div ng-click="incrBundleQuantity()"  style="float: left; height: 40px; width: 30%;">
                        <div class="tradePlusButton ion-plus" class=""></div>
                    </div>

                    <input class="tradeAmount" ng-model="bundleQuantity" ng-readonly="true">

                    <div ng-click="decrBundleQuantity()" style="float: left; height: 40px; width: 30%;">
                        <div class="tradeMinusButton ion-minus" class=""></div>
                    </div>
                </div>
                <div class="row">
                    <div style="width: 80%; text-align: center; margin: 20px 10% 0 10%;">
                        <h5>BUNDLE CONTENTS</h5>
                        <div style="width: 100%;">
                            <span>{{contract.name}}</span>
                        </div>
                    </div>
                </div>
                <button class="button button-clear" ng-click="enableBunStep2()"
                        style="width: 80%; margin-left: 10%; margin-top: 20px; max-height: 10%; background-color: #42A5F5">
                    <span style="color:#fafafa"> CONFIRM & PROCEED </span>
                </button>
            </div>
            <div ng-show="toggle.bunStep2">

                <div style="width: 80%; text-align: center; margin: 20px;">
                    <h5> STEP 2: CONFIRM ORDER</h5>
                </div>

                <table st-table="rowCollection" class="table table-striped" style="width: 100%;">
                    <thead>
                    <tr>
                        <th align="left" style="padding-left: 10px"><b>Bundle Name</b></th>
                        <th align="right" style="padding-right: 10px"><b>Quantity</b></th>
                        <th align="right" style="padding-right: 10px"><b>Price</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="height: 30px;">
                        <td align="left" style="padding-left: 10px; line-height: 30px;">{{contract.name}}</td>
                        <td align="right" style="padding-right: 10px; line-height: 30px;">{{bundleQuantity}}</td>
                        <td align="right" style="padding-right: 10px; line-height: 30px;">{{bundle.price | currency}}</td>
                    </tr>
                    </tbody>
                </table>

                <h4 align="Right" style="padding-right: 10px; margin: 15px 0 15px 0">
                    Order Total: $ {{(bundle.price * bundleQuantity).toFixed(2)}}</h4>

                <button class="button button-clear" ng-click="enableBunStep3()"
                        style="width: 80%; margin-left: 10%; margin-top: 20px; max-height: 10%; background-color: #42A5F5">
                    <span style="color:#fafafa"> CONFIRM & PROCEED </span>
                </button>

            </div>

            <div ng-show="toggle.bunStep3">

                <div style="width: 80%; text-align: center; margin: 20px;">
                    <h5>CONGRATULATIONS</h5>
                </div>

                <div style="width: 80%; margin-left: 10%;">
                    <h5>You have successfully purchased:</h5>
                    <span>
                        {{bundleQuantity}} x {{bundle.name}}
                    </span>
                    <h5>The stock in this bundle has been added to your portfolio</h5>
                </div>

                <button class="button button-clear" ng-click="closeStep()"
                        style="width: 80%; margin-left: 10%; margin-top: 20px; max-height: 10%; background-color: #42A5F5">
                    <span style="color:#fafafa"> CLOSE </span>
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
