
.loginColumn {
	vertical-align: middle;
	margin-left: 20%;
	margin-right: 20%;
	
	margin-top:5%;
}

.registerColumn {
	vertical-align: middle;
	margin-left: 20%;
	margin-right: 20%;

	margin-top:5%;
}

.viewContracts{
	width: 100%;
}

.loginTitle {
	min-width: 25%;
	width: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.warningSection{
	color: black;
	border-color: red;
	background-color: pink;
}

.loginTitleDiv{
	position: relative;
}

.user{
	margin-bottom: 20px;
	border-color: red;
}

.pass{
	margin-top: 50px;
}

.temp{
	margin-top: 50px;
	border-radius: 15px 15px 15px 15px;
}

.L_btn{

	border-radius: 5px 5px 5px  5px;
	background: #428BCA;
	color: #fff;
	font-family: Sans-serif;
	font-size: 20px;
	height: 60%;
	width:100%;
	line-height: 60px;
	
	text-align: center;
	border: 0;


}

.btn_place{

	margin-top: 0%;
	

}

.btn_place2{

	margin-top: 0%;
	margin-bottom: 20px;
	

}

.R_btn {

	border-radius: 5px 5px 5px  5px;
	background: #428BCA;
	color: #fff;
	font-family: Sans-serif;
	font-size: 20px;
	height: 60%;
	width:100%;
	line-height: 60px;
	
	text-align: center;
	border: 0;

}

.checkbox{
	margin-top: 30px;
	margin-left: -12px;


}

.link1{
	display: inline-block;
	float:left;
}

.link2{
	display: inline-block;
	float:right;
}

.links{
	margin-top:50px;
}

.remove-border{
	border:5px solid white;
}

.Already_have_an_account_button
{
	border-radius: 5px 5px 5px  5px;
	background: white;
	color: blue;
	font-family: Sans-serif;
	font-size: 2vw;
	min-width: 60%;
	height: 20%;
	line-height: 60px;
	
	text-align: left;
	border: 0;
}

.I_forgot_my_password_button
{
	border-radius: 5px 5px 5px  5px;
	background: white;
	color: blue;
	font-family: Sans-serif;
	font-size: 2vw;
	min-width: 60%;
	height: 20%;
	line-height: 60px;
	
	text-align: left;
	border: 0;
}

.I_dont_have_an_account_button
{
	border-radius: 5px 5px 5px  5px;
	background: white;
	color: blue;
	font-family: Sans-serif;
	font-size: 2vw;
	min-width: 60%;
	height: 20%;
	line-height: 60px;
	
	text-align: left;
	border: 0;
}