
<<<<<<< HEAD
=======
.remember_me
{
	font-size: calc(vmax); 
	color:#7e7e7e;
}
>>>>>>> master

.loginColumn 
{
	vertical-align: middle;
<<<<<<< HEAD
	margin-left: 10%;
	margin-right: 10%;
=======
	margin-left: 20%;
	margin-right: 20%;
>>>>>>> master
	margin-top:5%;
}

.registerColumn 
{
	vertical-align: middle;
<<<<<<< HEAD
	margin-left: 10%;
	margin-right: 10%;
=======
	margin-left: 20%;
	margin-right: 20%;
>>>>>>> master
	margin-top:5%;
}

.forgotPasswordColumn 
{
	vertical-align: middle;
<<<<<<< HEAD
	margin-left: 10%;
	margin-right: 10%;
=======
	margin-left: 20%;
	margin-right: 20%;
>>>>>>> master
	margin-top:5%;
}

.register_importantNotice 
{
	vertical-align: left;
	color: black;
	margin-top:5%;
	margin-bottom:5%;
	color: #7e7e7e;
}

.info_Info 
{
	vertical-align: left;
	color: #7e7e7e;
	margin-bottom:2%;
	text-align:justify;
}

.info_Header 
{
	vertical-align: middle;
	color:#7e7e7e;
	font-weight: bold;
	height:30px;
	
}

.viewContracts
{
	width: 100%;
}

.loginTitle 
{
	min-width: 200px;
	width: 30%;
	display: block;
	margin-left: auto;
<<<<<<< HEAD
	margin-right: auto;

}

.warningSection_div
{

	border-width: 5;
=======
	margin-right: auto;	
}

.warningSection
{
	color: black;
>>>>>>> master
	border-color: red;
	background-color: pink;
	display: table;
	width: 100%;
}
.warningSection
{
	color: black;
	background-color: pink;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.loginTitleDiv
{
	position: relative;
	margin-top: 10%;
	margin-bottom: 10%;

<<<<<<< HEAD
	display:block;
}

=======
>>>>>>> master
.email
{
	margin-bottom: 20px;
}

.main_div
{
	border-radius: 15px 15px 15px 15px;
	
}

.Login_btn
{
	border-radius: 5px 5px 5px  5px;
	background: #428BCA;
	color: #fff;
	font-family: Sans-serif;
	font-size: 20px;
	height: 60%;
	width:100%;
	line-height: 60px;
	text-align: center;
}

.Register_div
{
	margin-bottom: 20px;
}

.Register_btn
{
	border-radius: 5px 5px 5px  5px;
	background: #428BCA;
	color: #fff;
	font-family: Sans-serif;
	font-size: 20px;
	height: 60%;
	width:100%;
	line-height: 60px;
	text-align: center;
}

<<<<<<< HEAD
.Remember_me_div
{
	margin-left: -12px;
	margin-top: 2%;
	margin-bottom: 2%;
	width:100%;
}

.forgot_pass_div
{		
	width:100%;
	margin-top:2%;
	float: center;
}

.sign_up_div
{
	width:100%;
	margin-top:3%;
	float: center;
=======
.checkbox
{
	margin-bottom: 30px;
	margin-left: -12px;
}

.forgot_pass_div
{		
	width:80%;
	margin-top:5%;
	float: center;
}

.sign_up_div
{
	width:50%;
	margin-top:5%;
	float: center;
}

.remove-border
{
	border:5px solid white;
>>>>>>> master
}

.have_account
{
<<<<<<< HEAD
	padding: 10px 10px 10px 10px;
	color: #428BCA;
	font-family: Sans-serif;
	font-size: 2vmax;
	line-height: 20px;
	text-align: center;
	background-color: white;
	border-width: 0;
	margin-top: 15px
=======
	padding: 50px 50px 50px 0px;
	color: #428BCA;
	font-family: Sans-serif;
	font-size: 1vmax;
	line-height: 20px;
	text-align: center;
	margin-top: 10%;

>>>>>>> master
}

.forgot_pass
{
<<<<<<< HEAD
	padding: 10px 10px 10px 10px;
	color: #428BCA;
	font-family: Sans-serif;
	font-size: 2vmax;
	line-height: 20px;
	text-align: left;	
	background-color: white;
	border-width: 0;
=======
	padding: 50px 50px 50px 0px;
	color: #428BCA;
	font-family: Sans-serif;
	font-size: 1vmax;
	line-height: 20px;
	text-align: center;	
>>>>>>> master
}

.sign_up
{
<<<<<<< HEAD
	padding: 10px 10px 10px 10px;
	color: #428BCA;
	font-family: Sans-serif;
	font-size: 2vmax;
	line-height: 20px;
	text-align: center;
	background-color: white;
	border-width: 0;
=======
	padding: 50px 50px 50px 0px;
	color: #428BCA;
	font-family: Sans-serif;
	font-size: 1vmax;
	line-height: 20px;
	text-align: center;
>>>>>>> master
}

.iforgotMyPassword_SendButton
{
	border-radius: 5px 5px 5px  5px;
	background: #428BCA;
	color: #fff;
	font-family: Sans-serif;
	font-size: 20px;
	height: 60%;
	width:100%;
	line-height: 60px;
	text-align: center;
	border: 1;
}

.Terms_note
{

	font-size: 1vw;
	color:#7e7e7e;
<<<<<<< HEAD
}

.Remember_me
{
 	color:#7e7e7e
}

=======
}
>>>>>>> master
